* {
    background-color: lightslategrey;
}

#title {
    font-family: cursive;
    font-size: 75px;
    color: lightslategrey;
    background-color: white;
    display: inline;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 1px;
    border-radius: 700px/600px;
}

.list {
    color: lightslategrey;
    font-family: cursive;
    font-size: 50px;
}

a:link, a:visited {
    background-color: white;
    color:lightslategrey;
    padding: 7px 20px;
    text-align:center;
    text-decoration: none;
    border-radius: 70px/50px;
    padding-left: 5px;
    display: inline;
}